
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 text-center">
        <h1>Welcome to ChatApp</h1>
        <p class="lead">The best place to chat with your friends and family.</p>
        <!-- <a class="btn btn-primary btn-lg" routerLink="/sign-in" role="button">Sign In</a> -->
        <!-- <a class="btn btn-secondary btn-lg" routerLink="/register" role="button">Register</a> -->
        <!-- <a class="btn btn-success btn-lg" routerLink="/chat" role="button">Chat Now</a> -->
        <a class="btn btn-info btn-lg" routerLink="/create-group" role="button">Create Group</a>

      </div>
    </div>
  </div>

  